
/************************** Height *****************************/
.ImpH1 {
    height: 1px !important;
}

.ImpH2 {
    height: 2px !important;
}

.ImpH3 {
    height: 3px !important;
}

.ImpH4 {
    height: 4px !important;
}

.ImpH5 {
    height: 5px !important;
}

.ImpH6 {
    height: 6px !important;
}

.ImpH7 {
    height: 7px !important;
}

.ImpH8 {
    height: 8px !important;
}

.ImpH9 {
    height: 9px !important;
}

.ImpH10 {
    height: 10px !important;
}

.ImpH13 {
    height: 13px !important;
}

.ImpH15 {
    height: 15px !important;
}

.ImpH18 {
    height: 18px !important;
}

.ImpH19 {
    height: 19px !important;
}

.ImpH20 {
    height: 20px !important;
}

.ImpH21 {
    height: 21px !important;
}

.ImpH22 {
    height: 22px !important;
}

.ImpH23 {
    height: 23px !important;
}

.ImpH24 {
    height: 24px !important;
}

.ImpH25 {
    height: 25px !important;
}

.ImpH28 {
    height: 28px !important;
}

.ImpH30 {
    height: 30px !important;
}

.ImpH31 {
    height: 31px !important;
}

.ImpH34 {
    height: 34px !important;
}

.ImpH35 {
    height: 35px !important;
}

.ImpH40 {
    height: 40px !important;
}

.ImpH45 {
    height: 45px !important;
}

.ImpH50 {
    height: 50px !important;
}

.ImpH53 {
    height: 53px !important;
}

.ImpH55 {
    height: 55px !important;
}

.ImpH60 {
    height: 60px !important;
}

.ImpH65 {
    height: 65px !important;
}

.ImpH70 {
    height: 70px !important;
}

.ImpH73 {
    height: 73px !important;
}

.ImpH75 {
    height: 75px !important;
}

.ImpH80 {
    height: 80px !important;
}

.ImpH90 {
    height: 90px !important;
}

.ImpH100 {
    height: 100px !important;
}

.ImpH120 {
    height: 120px !important;
}

.ImpH130 {
    height: 130px !important;
}

.ImpH150 {
    height: 150px !important;
}

.ImpH200 {
    height: 200px !important;
}

.ImpH220 {
    height: 220px !important;
}

.ImpH240 {
    height: 240px !important;
}

.ImpH260 {
    height: 260px !important;
}

.ImpH280 {
    height: 280px !important;
}

.ImpH285 {
    height: 285px !important;
}

.ImpH290 {
    height: 290px !important;
}

.ImpH300 {
    height: 300px !important;
}

.ImpH305 {
    height: 305px !important;
}

.ImpH330 {
    height: 330px !important;
}

.ImpH400 {
    height: 400px !important;
}

.ImpH430 {
    height: 430px !important;
}

.ImpH450 {
    height: 450px !important;
}

.ImpH500 {
    height: 500px !important;
}

.ImpH550 {
    height: 550px !important;
}

/************************ Max-Height **************************/
.ImpMaxH1 {
    max-height: 1px !important;
}

.ImpMaxH2 {
    max-height: 2px !important;
}

.ImpMaxH3 {
    max-height: 3px !important;
}

.ImpMaxH4 {
    max-height: 4px !important;
}

.ImpMaxH5 {
    max-height: 5px !important;
}

.ImpMaxH6 {
    max-height: 6px !important;
}

.ImpMaxH7 {
    max-height: 7px !important;
}

.ImpMaxH8 {
    max-height: 8px !important;
}

.ImpMaxH9 {
    max-height: 9px !important;
}

.ImpMaxH10 {
    max-height: 10px !important;
}

.ImpMaxH13 {
    max-height: 13px !important;
}

.ImpMaxH15 {
    max-height: 15px !important;
}

.ImpMaxH18 {
    max-height: 18px !important;
}

.ImpMaxH19 {
    max-height: 19px !important;
}

.ImpMaxH20 {
    max-height: 20px !important;
}

.ImpMaxH21 {
    max-height: 21px !important;
}

.ImpMaxH22 {
    max-height: 22px !important;
}

.ImpMaxH23 {
    max-height: 23px !important;
}

.ImpMaxH24 {
    max-height: 24px !important;
}

.ImpMaxH25 {
    max-height: 25px !important;
}

.ImpMaxH28 {
    max-height: 28px !important;
}

.ImpMaxH30 {
    max-height: 30px !important;
}

.ImpMaxH31 {
    max-height: 31px !important;
}

.ImpMaxH34 {
    max-height: 34px !important;
}

.ImpMaxH35 {
    max-height: 35px !important;
}

.ImpMaxH40 {
    max-height: 40px !important;
}

.ImpMaxH45 {
    max-height: 45px !important;
}

.ImpMaxH50 {
    max-height: 50px !important;
}

.ImpMaxH53 {
    max-height: 53px !important;
}

.ImpMaxH55 {
    max-height: 55px !important;
}

.ImpMaxH60 {
    max-height: 60px !important;
}

.ImpMaxH65 {
    max-height: 65px !important;
}

.ImpMaxH70 {
    max-height: 70px !important;
}

.ImpMaxH73 {
    max-height: 73px !important;
}

.ImpMaxH75 {
    max-height: 75px !important;
}

.ImpMaxH80 {
    max-height: 80px !important;
}

.ImpMaxH90 {
    max-height: 90px !important;
}

.ImpMaxH100 {
    max-height: 100px !important;
}

.ImpMaxH120 {
    max-height: 120px !important;
}

.ImpMaxH130 {
    max-height: 130px !important;
}

.ImpMaxH150 {
    max-height: 150px !important;
}

.ImpMaxH200 {
    max-height: 200px !important;
}

.ImpMaxH220 {
    max-height: 220px !important;
}

.ImpMaxH260 {
    max-height: 260px !important;
}

.ImpMaxH280 {
    max-height: 280px !important;
}

.ImpMaxH285 {
    max-height: 285px !important;
}

.ImpMaxH290 {
    max-height: 290px !important;
}

.ImpMaxH300 {
    max-height: 300px !important;
}

.ImpMaxH305 {
    max-height: 305px !important;
}

.ImpMaxH330 {
    max-height: 330px !important;
}

.ImpMaxH400 {
    max-height: 400px !important;
}

.ImpMaxH430 {
    max-height: 430px !important;
}

.ImpMaxH450 {
    max-height: 450px !important;
}

.ImpMaxH500 {
    max-height: 500px !important;
}

.ImpMaxH550 {
    max-height: 550px !important;
}

/************************ Min-Height **************************/
.ImpMinH1 {
    min-height: 1px !important;
}

.ImpMinH2 {
    min-height: 2px !important;
}

.ImpMinH3 {
    min-height: 3px !important;
}

.ImpMinH4 {
    min-height: 4px !important;
}

.ImpMinH5 {
    min-height: 5px !important;
}

.ImpMinH6 {
    min-height: 6px !important;
}

.ImpMinH7 {
    min-height: 7px !important;
}

.ImpMinH8 {
    min-height: 8px !important;
}

.ImpMinH9 {
    min-height: 9px !important;
}

.ImpMinH10 {
    min-height: 10px !important;
}

.ImpMinH13 {
    min-height: 13px !important;
}

.ImpMinH15 {
    min-height: 15px !important;
}

.ImpMinH18 {
    min-height: 18px !important;
}

.ImpMinH19 {
    min-height: 19px !important;
}

.ImpMinH20 {
    min-height: 20px !important;
}

.ImpMinH21 {
    min-height: 21px !important;
}

.ImpMinH22 {
    min-height: 22px !important;
}

.ImpMinH23 {
    min-height: 23px !important;
}

.ImpMinH24 {
    min-height: 24px !important;
}

.ImpMinH25 {
    min-height: 25px !important;
}

.ImpMinH28 {
    min-height: 28px !important;
}

.ImpMinH30 {
    min-height: 30px !important;
}

.ImpMinH31 {
    min-height: 31px !important;
}

.ImpMinH34 {
    min-height: 34px !important;
}

.ImpMinH35 {
    min-height: 35px !important;
}

.ImpMinH40 {
    min-height: 40px !important;
}

.ImpMinH45 {
    min-height: 45px !important;
}

.ImpMinH50 {
    min-height: 50px !important;
}

.ImpMinH53 {
    min-height: 53px !important;
}

.ImpMinH55 {
    min-height: 55px !important;
}

.ImpMinH60 {
    min-height: 60px !important;
}

.ImpMinH65 {
    min-height: 65px !important;
}

.ImpMinH70 {
    min-height: 70px !important;
}

.ImpMinH73 {
    min-height: 73px !important;
}

.ImpMinH75 {
    min-height: 75px !important;
}

.ImpMinH80 {
    min-height: 80px !important;
}

.ImpMinH90 {
    min-height: 90px !important;
}

.ImpMinH100 {
    min-height: 100px !important;
}

.ImpMinH120 {
    min-height: 120px !important;
}

.ImpMinH130 {
    min-height: 130px !important;
}

.ImpMinH150 {
    min-height: 150px !important;
}

.ImpMinH200 {
    min-height: 200px !important;
}

.ImpMinH220 {
    min-height: 220px !important;
}

.ImpMinH260 {
    min-height: 260px !important;
}

.ImpMinH280 {
    min-height: 280px !important;
}

.ImpMinH285 {
    min-height: 285px !important;
}

.ImpMinH290 {
    min-height: 290px !important;
}

.ImpMinH300 {
    min-height: 300px !important;
}

.ImpMinH305 {
    min-height: 305px !important;
}

.ImpMinH330 {
    min-height: 330px !important;
}

.ImpMinH400 {
    min-height: 400px !important;
}

.ImpMinH430 {
    min-height: 430px !important;
}

.ImpMinH450 {
    min-height: 450px !important;
}

.ImpMinH500 {
    min-height: 500px !important;
}

.ImpMinH550 {
    min-height: 550px !important;
}

/*********************** Height End ***************************/


/************************** Width *****************************/

.ImpW100per {
    width: 100%;
}

.ImpW5 {
    width: 5px !important;
}

.ImpW8 {
    width: 8px !important;
}

.ImpW10 {
    width: 10px !important;
}

.ImpW11 {
    width: 11px !important;
}

.ImpW15 {
    width: 15px !important;
}

.ImpW17 {
    width: 17px !important;
}

.ImpW20 {
    width: 20px !important;
}

.ImpW26 {
    width: 26px !important;
}

.ImpW30 {
    width: 30px !important;
}

.ImpW35 {
    width: 35px !important;
}

.ImpW38 {
    width: 38px !important;
}

.ImpW40 {
    width: 40px !important;
}

.ImpW45 {
    width: 45px !important;
}

.ImpW50 {
    width: 50px !important;
}

.ImpW56 {
    width: 56px !important;
}

.ImpW60 {
    width: 60px !important;
}

.ImpW66 {
    width: 66px !important;
}

.ImpW71 {
    width: 71px !important;
}

.ImpW75 {
    width: 75px !important;
}

.ImpW75 {
    width: 75px !important;
}

.ImpW77 {
    width: 77px !important;
}

.ImpW70 {
    width: 70px !important;
}

.ImpW80 {
    width: 80px !important;
}

.ImpW85 {
    width: 85px !important;
}

.ImpW86 {
    width: 86px !important;
}

.ImpW90 {
    width: 90px !important;
}

.ImpW93 {
    width: 93px !important;
}

.ImpW95 {
    width: 95px !important;
}

.ImpW99 {
    width: 99px !important;
}

.ImpW100 {
    width: 100px !important;
}

.ImpW101 {
    width: 101px !important;
}

.ImpW102 {
    width: 102px !important;
}

.ImpW103 {
    width: 103px !important;
}

.ImpW104 {
    width: 104px !important;
}

.ImpW105 {
    width: 105px !important;
}

.ImpW108 {
    width: 108px !important;
}

.ImpW109 {
    width: 109px !important;
}

.ImpW110 {
    width: 110px !important;
}

.ImpW115 {
    width: 115px !important;
}

.ImpW116 {
    width: 116px !important;
}

.ImpW119 {
    width: 119px !important;
}

.ImpW120 {
    width: 120px !important;
}

.ImpW122 {
    width: 122px !important;
}

.ImpW123 {
    width: 123px !important;
}

.ImpW124 {
    width: 124px !important;
}

.ImpW125 {
    width: 125px !important;
}

.ImpW126 {
    width: 126px !important;
}

.ImpW127 {
    width: 127px !important;
}

.ImpW128 {
    width: 128px !important;
}

.ImpW129 {
    width: 129px !important;
}

.ImpW130 {
    width: 130px !important;
}

.ImpW132 {
    width: 132px !important;
}

.ImpW133 {
    width: 133px !important;
}

.ImpW134 {
    width: 134px !important;
}

.ImpW135 {
    width: 135px !important;
}

.ImpW136 {
    width: 136px !important;
}

.ImpW138 {
    width: 138px !important;
}

.ImpW139 {
    width: 139px !important;
}

.ImpW140 {
    width: 140px !important;
}

.ImpW141 {
    width: 141px !important;
}

.ImpW142 {
    width: 142px !important;
}

.ImpW143 {
    width: 143px !important;
}

.ImpW145 {
    width: 145px !important;
}

.ImpW147 {
    width: 147px !important;
}

.ImpW150 {
    width: 150px !important;
}

.ImpW152 {
    width: 152px !important;
}

.ImpW154 {
    width: 154px !important;
}

.ImpW155 {
    width: 155px !important;
}

.ImpW158 {
    width: 158px !important;
}

.ImpW160 {
    width: 160px !important;
}

.ImpW165 {
    width: 168px !important;
}

.ImpW166 {
    width: 166px !important;
}

.ImpW169 {
    width: 169px !important;
}

.ImpW170 {
    width: 170px !important;
}

.ImpW174 {
    width: 174px !important;
}

.ImpW175 {
    width: 175px !important;
}

.ImpW180 {
    width: 180px !important;
}

.ImpW185 {
    width: 185px !important;
}

.ImpW186 {
    width: 186px !important;
}

.ImpW190 {
    width: 190px !important;
}

.ImpW192 {
    width: 192px !important;
}

.ImpW194 {
    width: 194px !important;
}

.ImpW195 {
    width: 195px !important;
}

.ImpW197 {
    width: 197px !important;
}

.ImpW198 {
    width: 198px !important;
}

.ImpW200 {
    width: 200px !important;
}

.ImpW202 {
    width: 202px !important;
}

.ImpW203 {
    width: 203px !important;
}

.ImpW205 {
    width: 205px !important;
}

/************************ Max-Width **************************/

.ImpMaxW5 {
    max-width: 5px !important;
}

.ImpMaxW8 {
    max-width: 8px !important;
}

.ImpMaxW10 {
    max-width: 10px !important;
}

.ImpMaxW11 {
    max-width: 11px !important;
}

.ImpMaxW15 {
    max-width: 15px !important;
}

.ImpMaxW17 {
    max-width: 17px !important;
}

.ImpMaxW20 {
    max-width: 20px !important;
}

.ImpMaxW26 {
    max-width: 26px !important;
}

.ImpMaxW30 {
    max-width: 30px !important;
}

.ImpMaxW35 {
    max-width: 35px !important;
}

.ImpMaxW38 {
    max-width: 38px !important;
}

.ImpMaxW40 {
    max-width: 40px !important;
}

.ImpMaxW45 {
    max-width: 45px !important;
}

.ImpMaxW50 {
    max-width: 50px !important;
}

.ImpMaxW56 {
    max-width: 56px !important;
}

.ImpMaxW60 {
    max-width: 60px !important;
}

.ImpMaxW66 {
    max-width: 66px !important;
}

.ImpMaxW71 {
    max-width: 71px !important;
}

.ImpMaxW75 {
    max-width: 75px !important;
}

.ImpMaxW75 {
    max-width: 75px !important;
}

.ImpMaxW77 {
    max-width: 77px !important;
}

.ImpMaxW70 {
    max-width: 70px !important;
}

.ImpMaxW80 {
    max-width: 80px !important;
}

.ImpMaxW85 {
    max-width: 85px !important;
}

.ImpMaxW86 {
    max-width: 86px !important;
}

.ImpMaxW90 {
    max-width: 90px !important;
}

.ImpMaxW93 {
    max-width: 93px !important;
}

.ImpMaxW95 {
    max-width: 95px !important;
}

.ImpMaxW99 {
    max-width: 99px !important;
}

.ImpMaxW100 {
    max-width: 100px !important;
}

.ImpMaxW101 {
    max-width: 101px !important;
}

.ImpMaxW102 {
    max-width: 102px !important;
}

.ImpMaxW103 {
    max-width: 103px !important;
}

.ImpMaxW104 {
    max-width: 104px !important;
}

.ImpMaxW105 {
    max-width: 105px !important;
}

.ImpMaxW108 {
    max-width: 108px !important;
}

.ImpMaxW109 {
    max-width: 109px !important;
}

.ImpMaxW110 {
    max-width: 110px !important;
}

.ImpMaxW115 {
    max-width: 115px !important;
}

.ImpMaxW116 {
    max-width: 116px !important;
}

.ImpMaxW119 {
    max-width: 119px !important;
}

.ImpMaxW120 {
    max-width: 120px !important;
}

.ImpMaxW122 {
    max-width: 122px !important;
}

.ImpMaxW123 {
    max-width: 123px !important;
}

.ImpMaxW124 {
    max-width: 124px !important;
}

.ImpMaxW125 {
    max-width: 125px !important;
}

.ImpMaxW126 {
    max-width: 126px !important;
}

.ImpMaxW127 {
    max-width: 127px !important;
}

.ImpMaxW128 {
    max-width: 128px !important;
}

.ImpMaxW129 {
    max-width: 129px !important;
}

.ImpMaxW130 {
    max-width: 130px !important;
}

.ImpMaxW132 {
    max-width: 132px !important;
}

.ImpMaxW133 {
    max-width: 133px !important;
}

.ImpMaxW134 {
    max-width: 134px !important;
}

.ImpMaxW135 {
    max-width: 135px !important;
}

.ImpMaxW136 {
    max-width: 136px !important;
}

.ImpMaxW138 {
    max-width: 138px !important;
}

.ImpMaxW139 {
    max-width: 139px !important;
}

.ImpMaxW140 {
    max-width: 140px !important;
}

.ImpMaxW141 {
    max-width: 141px !important;
}

.ImpMaxW142 {
    max-width: 142px !important;
}

.ImpMaxW143 {
    max-width: 143px !important;
}

.ImpMaxW145 {
    max-width: 145px !important;
}

.ImpMaxW147 {
    max-width: 147px !important;
}

.ImpMaxW150 {
    max-width: 150px !important;
}

.ImpMaxW152 {
    max-width: 152px !important;
}

.ImpMaxW154 {
    max-width: 154px !important;
}

.ImpMaxW155 {
    max-width: 155px !important;
}

.ImpMaxW158 {
    max-width: 158px !important;
}

.ImpMaxW160 {
    max-width: 160px !important;
}

.ImpMaxW165 {
    max-width: 168px !important;
}

.ImpMaxW166 {
    max-width: 166px !important;
}

.ImpMaxW169 {
    max-width: 169px !important;
}

.ImpMaxW170 {
    max-width: 170px !important;
}

.ImpMaxW174 {
    max-width: 174px !important;
}

.ImpMaxW175 {
    max-width: 175px !important;
}

.ImpMaxW180 {
    max-width: 180px !important;
}

.ImpMaxW185 {
    max-width: 185px !important;
}

.ImpMaxW186 {
    max-width: 186px !important;
}

.ImpMaxW190 {
    max-width: 190px !important;
}

.ImpMaxW192 {
    max-width: 192px !important;
}

.ImpMaxW194 {
    max-width: 194px !important;
}

.ImpMaxW195 {
    max-width: 195px !important;
}

.ImpMaxW197 {
    max-width: 197px !important;
}

.ImpMaxW198 {
    max-width: 198px !important;
}

.ImpMaxW200 {
    max-width: 200px !important;
}

.ImpMaxW202 {
    max-width: 202px !important;
}

.ImpMaxW203 {
    max-width: 203px !important;
}

.ImpMaxW205 {
    max-width: 205px !important;
}

/************************ Min-Width **************************/

.ImpMinW5 {
    min-width: 5px !important;
}

.ImpMinW8 {
    min-width: 8px !important;
}

.ImpMinW10 {
    min-width: 10px !important;
}

.ImpMinW11 {
    min-width: 11px !important;
}

.ImpMinW15 {
    min-width: 15px !important;
}

.ImpMinW17 {
    min-width: 17px !important;
}

.ImpMinW20 {
    min-width: 20px !important;
}

.ImpMinW26 {
    min-width: 26px !important;
}

.ImpMinW30 {
    min-width: 30px !important;
}

.ImpMinW35 {
    min-width: 35px !important;
}

.ImpMinW38 {
    min-width: 38px !important;
}

.ImpMinW40 {
    min-width: 40px !important;
}

.ImpMinW45 {
    min-width: 45px !important;
}

.ImpMinW50 {
    min-width: 50px !important;
}

.ImpMinW56 {
    min-width: 56px !important;
}

.ImpMinW60 {
    min-width: 60px !important;
}

.ImpMinW66 {
    min-width: 66px !important;
}

.ImpMinW71 {
    min-width: 71px !important;
}

.ImpMinW75 {
    min-width: 75px !important;
}

.ImpMinW75 {
    min-width: 75px !important;
}

.ImpMinW77 {
    min-width: 77px !important;
}

.ImpMinW70 {
    min-width: 70px !important;
}

.ImpMinW80 {
    min-width: 80px !important;
}

.ImpMinW85 {
    min-width: 85px !important;
}

.ImpMinW86 {
    min-width: 86px !important;
}

.ImpMinW90 {
    min-width: 90px !important;
}

.ImpMinW93 {
    min-width: 93px !important;
}

.ImpMinW95 {
    min-width: 95px !important;
}

.ImpMinW99 {
    min-width: 99px !important;
}

.ImpMinW100 {
    min-width: 100px !important;
}

.ImpMinW101 {
    min-width: 101px !important;
}

.ImpMinW102 {
    min-width: 102px !important;
}

.ImpMinW103 {
    min-width: 103px !important;
}

.ImpMinW104 {
    min-width: 104px !important;
}

.ImpMinW105 {
    min-width: 105px !important;
}

.ImpMinW108 {
    min-width: 108px !important;
}

.ImpMinW109 {
    min-width: 109px !important;
}

.ImpMinW110 {
    min-width: 110px !important;
}

.ImpMinW115 {
    min-width: 115px !important;
}

.ImpMinW116 {
    min-width: 116px !important;
}

.ImpMinW119 {
    min-width: 119px !important;
}

.ImpMinW120 {
    min-width: 120px !important;
}

.ImpMinW122 {
    min-width: 122px !important;
}

.ImpMinW123 {
    min-width: 123px !important;
}

.ImpMinW124 {
    min-width: 124px !important;
}

.ImpMinW125 {
    min-width: 125px !important;
}

.ImpMinW126 {
    min-width: 126px !important;
}

.ImpMinW127 {
    min-width: 127px !important;
}

.ImpMinW128 {
    min-width: 128px !important;
}

.ImpMinW129 {
    min-width: 129px !important;
}

.ImpMinW130 {
    min-width: 130px !important;
}

.ImpMinW132 {
    min-width: 132px !important;
}

.ImpMinW133 {
    min-width: 133px !important;
}

.ImpMinW134 {
    min-width: 134px !important;
}

.ImpMinW135 {
    min-width: 135px !important;
}

.ImpMinW136 {
    min-width: 136px !important;
}

.ImpMinW138 {
    min-width: 138px !important;
}

.ImpMinW139 {
    min-width: 139px !important;
}

.ImpMinW140 {
    min-width: 140px !important;
}

.ImpMinW141 {
    min-width: 141px !important;
}

.ImpMinW142 {
    min-width: 142px !important;
}

.ImpMinW143 {
    min-width: 143px !important;
}

.ImpMinW145 {
    min-width: 145px !important;
}

.ImpMinW147 {
    min-width: 147px !important;
}

.ImpMinW150 {
    min-width: 150px !important;
}

.ImpMinW152 {
    min-width: 152px !important;
}

.ImpMinW154 {
    min-width: 154px !important;
}

.ImpMinW155 {
    min-width: 155px !important;
}

.ImpMinW158 {
    min-width: 158px !important;
}

.ImpMinW160 {
    min-width: 160px !important;
}

.ImpMinW165 {
    min-width: 168px !important;
}

.ImpMinW166 {
    min-width: 166px !important;
}

.ImpMinW169 {
    min-width: 169px !important;
}

.ImpMinW170 {
    min-width: 170px !important;
}

.ImpMinW174 {
    min-width: 174px !important;
}

.ImpMinW175 {
    min-width: 175px !important;
}

.ImpMinW180 {
    min-width: 180px !important;
}

.ImpMinW185 {
    min-width: 185px !important;
}

.ImpMinW186 {
    min-width: 186px !important;
}

.ImpMinW190 {
    min-width: 190px !important;
}

.ImpMinW192 {
    min-width: 192px !important;
}

.ImpMinW194 {
    min-width: 194px !important;
}

.ImpMinW195 {
    min-width: 195px !important;
}

.ImpMinW197 {
    min-width: 197px !important;
}

.ImpMinW198 {
    min-width: 198px !important;
}

.ImpMinW200 {
    min-width: 200px !important;
}

.ImpMinW202 {
    min-width: 202px !important;
}

.ImpMinW203 {
    min-width: 203px !important;
}

.ImpMinW205 {
    min-width: 205px !important;
}

/*********************** Width End ***************************/


/************************** Margin *****************************/

.ImpTBM0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.ImpTBM20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.ImpTBM25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.ImpTBM28 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}

.IMPM0 {
    margin: 0px !important;
}

.IMPBM0 {
    margin-bottom: 0 !important;
}
/************************** M-Right *****************************/
.ImpRM0 {
    margin-right: 0px !important;
}

.ImpRM10 {
    margin-right: 10px !important;
}

/**************************  M-Left *****************************/
.ImpLM0 {
    margin-left: 0px !important;
}

.ImpLM10 {
    margin-left: 10px !important;
}

.ImpLM20 {
    margin-left: 20px !important;
}
/**************************  M-Top  *****************************/
.navULM {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 15px !important;
}

.impTM20 {
    margin-top: 20px !important;
}

.impTM0 {
    margin-top: 0px !important;
}
/************************** M-Bottom *****************************/
.ImpBM0 {
    margin-bottom: 0px !important;
}

.impBM30 {
    margin-bottom: 30px !important;
}
/*********************** Margin  End ***************************/




/************************** Padding *****************************/
.ImpP0 {
    padding: 0px !important;
}

.SearchPaddingM {
    padding: 15px 30px;
}

/************************** P-Right *****************************/
.ImpRP0 {
    padding-right: 0px !important;
}

.ImpRP1 {
    padding-right: 1px !important;
}

.ImpRP2 {
    padding-right: 2px !important;
}

.ImpRP3 {
    padding-right: 3px !important;
}

.ImpRP4 {
    padding-right: 4px !important;
}

.ImpRP5 {
    padding-right: 5px !important;
}

.ImpRP6 {
    padding-right: 6px !important;
}

.ImpRP7 {
    padding-right: 7px !important;
}

.ImpRP10 {
    padding-right: 10px !important;
}

.ImpRP13 {
    padding-right: 13px !important;
}

.ImpRP14 {
    padding-right: 14px !important;
}

.ImpRP15 {
    padding-right: 15px !important;
}

.ImpRP20 {
    padding-right: 20px !important;
}

.ImpRP25 {
    padding-right: 25px !important;
}

.ImpRP30 {
    padding-right: 30px !important;
}

.ImpRP35 {
    padding-right: 35px !important;
}

.ImpRP40 {
    padding-right: 40px !important;
}

.ImpRP45 {
    padding-right: 45px !important;
}

.ImpRP47 {
    padding-right: 47px !important;
}

.ImpRP48 {
    padding-right: 48px !important;
}

.ImpRP50 {
    padding-right: 50px !important;
}

.ImpRP51 {
    padding-right: 51px !important;
}

.ImpRP55 {
    padding-right: 55px !important;
}

.ImpRP58 {
    padding-right: 58px !important;
}

.ImpRP60 {
    padding-right: 60px !important;
}

.ImpRP61 {
    padding-right: 61px !important;
}

.ImpRP65 {
    padding-right: 65px !important;
}

.ImpRP68 {
    padding-right: 68px !important;
}

.ImpRP70 {
    padding-right: 70px !important;
}

.ImpRP75 {
    padding-right: 75px !important;
}

.ImpRP80 {
    padding-right: 80px !important;
}

.ImpRP82 {
    padding-right: 82px !important;
}

.ImpRP90 {
    padding-right: 90px !important;
}

.ImpRP100 {
    padding-right: 100px !important;
}

.ImpRP105 {
    padding-right: 105px !important;
}

.ImpRP110 {
    padding-right: 110px !important;
}

.ImpRP112 {
    padding-right: 110px !important;
}

.ImpRP115 {
    padding-right: 115px !important;
}

.ImpRP120 {
    padding-right: 120px !important;
}

.ImpRP122 {
    padding-right: 122px !important;
}

.ImpRP125 {
    padding-right: 125px !important;
}

.ImpRP128 {
    padding-right: 128px !important;
}

.ImpRP130 {
    padding-right: 130px !important;
}

.ImpRP133 {
    padding-right: 133px !important;
}

.ImpRP135 {
    padding-right: 135px !important;
}

.ImpRP140 {
    padding-right: 140px !important;
}

.ImpRP150 {
    padding-right: 150px !important;
}

.ImpRP155 {
    padding-right: 155px !important;
}

.ImpRP160 {
    padding-right: 160px !important;
}

.ImpRP165 {
    padding-right: 165px !important;
}

.ImpRP167 {
    padding-right: 167px !important;
}

.ImpRP170 {
    padding-right: 170px !important;
}

.ImpRP174 {
    padding-right: 174px !important;
}

.ImpRP175 {
    padding-right: 175px !important;
}

.ImpRP180 {
    padding-right: 180px !important;
}

.ImpRP184 {
    padding-right: 184px !important;
}

.ImpRP190 {
    padding-right: 190px !important;
}

.ImpRP200 {
    padding-right: 200px !important;
}

.ImpRP205 {
    padding-right: 205px !important;
}

.ImpRP207 {
    padding-right: 207px !important;
}

.ImpRP210 {
    padding-right: 210px !important;
}

.ImpRP220 {
    padding-right: 220px !important;
}

.ImpRP225 {
    padding-right: 225px !important;
}

.ImpRP230 {
    padding-right: 230px !important;
}

.ImpRP250 {
    padding-right: 250px !important;
}

.ImpRP258 {
    padding-right: 258px !important;
}

.ImpRP260 {
    padding-right: 260px !important;
}

.ImpRP275 {
    padding-right: 275px !important;
}

.ImpRP277 {
    padding-right: 277px !important;
}

.ImpRP284 {
    padding-right: 284px !important;
}

.ImpRP290 {
    padding-right: 290px !important;
}

.ImpRP299 {
    padding-right: 299px !important;
}

.ImpRP300 {
    padding-right: 300px !important;
}

.ImpRP305 {
    padding-right: 305px !important;
}

.ImpRP310 {
    padding-right: 310px !important;
}

.ImpRP317 {
    padding-right: 317px !important;
}

.ImpRP320 {
    padding-right: 320px !important;
}

.ImpRP325 {
    padding-right: 325px !important;
}

.ImpRP330 {
    padding-right: 330px !important;
}

.ImpRP350 {
    padding-right: 350px !important;
}

.ImpRP355 {
    padding-right: 355px !important;
}

.ImpRP360 {
    padding-right: 360px !important;
}

.ImpRP370 {
    padding-right: 370px !important;
}

.ImpRP380 {
    padding-right: 380px !important;
}

.ImpRP400 {
    padding-right: 400px !important;
}

.ImpRP405 {
    padding-right: 405px !important;
}

.ImpRP410 {
    padding-right: 410px !important;
}

.ImpRP420 {
    padding-right: 420px !important;
}

.ImpRP500 {
    padding-right: 500px !important;
}

.ImpRP550 {
    padding-right: 550px !important;
}

.ImpRP590 {
    padding-right: 590px !important;
}

.ImpRP600 {
    padding-right: 600px !important;
}

.ImpRP620 {
    padding-right: 620px !important;
}

.ImpRP655 {
    padding-right: 655px !important;
}

.ImpRP675 {
    padding-right: 675px !important;
}

.ImpRP700 {
    padding-right: 700px !important;
}

.ImpRP756 {
    padding-right: 756px !important;
}

.ImpRP980 {
    padding-right: 980px !important;
}

.ImpRP988 {
    padding-right: 988px !important;
}

/**************************  P-Left *****************************/
.ImpLP0 {
    padding-left: 0px !important;
}

.ImpLP1 {
    padding-left: 1px !important;
}

.ImpLP2 {
    padding-left: 2px !important;
}

.ImpLP3 {
    padding-left: 3px !important;
}

.ImpLP4 {
    padding-left: 4px !important;
}

.ImpLP5 {
    padding-left: 5px !important;
}

.ImpLP6 {
    padding-left: 6px !important;
}

.ImpLP7 {
    padding-left: 7px !important;
}

.ImpLP10 {
    padding-left: 10px !important;
}

.ImpLP13 {
    padding-left: 13px !important;
}

.ImpLP14 {
    padding-left: 14px !important;
}

.ImpLP15 {
    padding-left: 15px !important;
}

.ImpLP20 {
    padding-left: 20px !important;
}

.ImpLP25 {
    padding-left: 25px !important;
}

.ImpLP30 {
    padding-left: 30px !important;
}

.ImpLP35 {
    padding-left: 35px !important;
}

.ImpLP40 {
    padding-left: 40px !important;
}

.ImpLP45 {
    padding-left: 45px !important;
}

.ImpLP47 {
    padding-left: 47px !important;
}

.ImpLP48 {
    padding-left: 48px !important;
}

.ImpLP50 {
    padding-left: 50px !important;
}

.ImpLP51 {
    padding-left: 51px !important;
}

.ImpLP55 {
    padding-left: 55px !important;
}

.ImpLP58 {
    padding-left: 58px !important;
}

.ImpLP60 {
    padding-left: 60px !important;
}

.ImpLP61 {
    padding-left: 61px !important;
}

.ImpLP65 {
    padding-left: 65px !important;
}

.ImpLP68 {
    padding-left: 68px !important;
}

.ImpLP70 {
    padding-left: 70px !important;
}

.ImpLP75 {
    padding-left: 75px !important;
}

.ImpLP80 {
    padding-left: 80px !important;
}

.ImpLP82 {
    padding-left: 82px !important;
}

.ImpLP90 {
    padding-left: 90px !important;
}

.ImpLP100 {
    padding-left: 100px !important;
}

.ImpLP105 {
    padding-left: 105px !important;
}

.ImpLP110 {
    padding-left: 110px !important;
}

.ImpLP112 {
    padding-left: 110px !important;
}

.ImpLP115 {
    padding-left: 115px !important;
}

.ImpLP120 {
    padding-left: 120px !important;
}

.ImpLP122 {
    padding-left: 122px !important;
}

.ImpLP125 {
    padding-left: 125px !important;
}

.ImpLP128 {
    padding-left: 128px !important;
}

.ImpLP130 {
    padding-left: 130px !important;
}

.ImpLP133 {
    padding-left: 133px !important;
}

.ImpLP135 {
    padding-left: 135px !important;
}

.ImpLP140 {
    padding-left: 140px !important;
}

.ImpLP150 {
    padding-left: 150px !important;
}

.ImpLP155 {
    padding-left: 155px !important;
}

.ImpLP160 {
    padding-left: 160px !important;
}

.ImpLP165 {
    padding-left: 165px !important;
}

.ImpLP167 {
    padding-left: 167px !important;
}

.ImpLP170 {
    padding-left: 170px !important;
}

.ImpLP174 {
    padding-left: 174px !important;
}

.ImpLP175 {
    padding-left: 175px !important;
}

.ImpLP180 {
    padding-left: 180px !important;
}

.ImpLP184 {
    padding-left: 184px !important;
}

.ImpLP190 {
    padding-left: 190px !important;
}

.ImpLP200 {
    padding-left: 200px !important;
}

.ImpLP205 {
    padding-left: 205px !important;
}

.ImpLP207 {
    padding-left: 207px !important;
}

.ImpLP210 {
    padding-left: 210px !important;
}

.ImpLP220 {
    padding-left: 220px !important;
}

.ImpLP225 {
    padding-left: 225px !important;
}

.ImpLP230 {
    padding-left: 230px !important;
}

.ImpLP250 {
    padding-left: 250px !important;
}

.ImpLP258 {
    padding-left: 258px !important;
}

.ImpLP260 {
    padding-left: 260px !important;
}

.ImpLP275 {
    padding-left: 275px !important;
}

.ImpLP277 {
    padding-left: 277px !important;
}

.ImpLP284 {
    padding-left: 284px !important;
}

.ImpLP290 {
    padding-left: 290px !important;
}

.ImpLP299 {
    padding-left: 299px !important;
}

.ImpLP300 {
    padding-left: 300px !important;
}

.ImpLP305 {
    padding-left: 305px !important;
}

.ImpLP310 {
    padding-left: 310px !important;
}

.ImpLP317 {
    padding-left: 317px !important;
}

.ImpLP320 {
    padding-left: 320px !important;
}

.ImpLP325 {
    padding-left: 325px !important;
}

.ImpLP330 {
    padding-left: 330px !important;
}

.ImpLP350 {
    padding-left: 350px !important;
}

.ImpLP355 {
    padding-left: 355px !important;
}

.ImpLP360 {
    padding-left: 360px !important;
}

.ImpLP370 {
    padding-left: 370px !important;
}

.ImpLP380 {
    padding-left: 380px !important;
}

.ImpLP400 {
    padding-left: 400px !important;
}

.ImpLP405 {
    padding-left: 405px !important;
}

.ImpLP410 {
    padding-left: 410px !important;
}

.ImpLP420 {
    padding-left: 420px !important;
}

.ImpLP500 {
    padding-left: 500px !important;
}

.ImpLP550 {
    padding-left: 550px !important;
}

.ImpLP590 {
    padding-left: 590px !important;
}

.ImpLP600 {
    padding-left: 600px !important;
}

.ImpLP620 {
    padding-left: 620px !important;
}

.ImpLP655 {
    padding-left: 655px !important;
}

.ImpLP675 {
    padding-left: 675px !important;
}

.ImpLP700 {
    padding-left: 700px !important;
}

.ImpLP756 {
    padding-left: 756px !important;
}

.ImpLP980 {
    padding-left: 980px !important;
}

.ImpLP988 {
    padding-left: 988px !important;
}

/**************************  P-Top  *****************************/
.ImpTP1 {
    padding-top: 1px !important;
}

.ImpTP2 {
    padding-top: 2px !important;
}

.ImpTP3 {
    padding-top: 3px !important;
}

.ImpTP4 {
    padding-top: 4px !important;
}

.ImpTP5 {
    padding-top: 5px !important;
}

.ImpTP6 {
    padding-top: 6px !important;
}

.ImpTP7 {
    padding-top: 7px !important;
}

.ImpTP10 {
    padding-top: 10px !important;
}

.ImpTP13 {
    padding-top: 13px !important;
}

.ImpTP14 {
    padding-top: 14px !important;
}

.ImpTP15 {
    padding-top: 15px !important;
}

.ImpTP20 {
    padding-top: 20px !important;
}

.ImpTP25 {
    padding-top: 25px !important;
}

.ImpTP30 {
    padding-top: 30px !important;
}

.ImpTP35 {
    padding-top: 35px !important;
}

.ImpTP40 {
    padding-top: 40px !important;
}

.ImpTP45 {
    padding-top: 45px !important;
}

.ImpTP47 {
    padding-top: 47px !important;
}

.ImpTP48 {
    padding-top: 48px !important;
}

.ImpTP50 {
    padding-top: 50px !important;
}

.ImpTP51 {
    padding-top: 51px !important;
}

.ImpTP55 {
    padding-top: 55px !important;
}

.ImpTP58 {
    padding-top: 58px !important;
}

.ImpTP60 {
    padding-top: 60px !important;
}

.ImpTP61 {
    padding-top: 61px !important;
}

.ImpTP65 {
    padding-top: 65px !important;
}

.ImpTP68 {
    padding-top: 68px !important;
}

.ImpTP70 {
    padding-top: 70px !important;
}

.ImpTP75 {
    padding-top: 75px !important;
}

.ImpTP80 {
    padding-top: 80px !important;
}

.ImpTP82 {
    padding-top: 82px !important;
}

.ImpTP90 {
    padding-top: 90px !important;
}

.ImpTP100 {
    padding-top: 100px !important;
}

.ImpTP105 {
    padding-top: 105px !important;
}

.ImpTP110 {
    padding-top: 110px !important;
}

.ImpTP112 {
    padding-top: 110px !important;
}

.ImpTP115 {
    padding-top: 115px !important;
}

.ImpTP120 {
    padding-top: 120px !important;
}

.ImpTP122 {
    padding-top: 122px !important;
}

.ImpTP125 {
    padding-top: 125px !important;
}

.ImpTP128 {
    padding-top: 128px !important;
}

.ImpTP130 {
    padding-top: 130px !important;
}

.ImpTP133 {
    padding-top: 133px !important;
}

.ImpTP135 {
    padding-top: 135px !important;
}

.ImpTP140 {
    padding-top: 140px !important;
}

.ImpTP150 {
    padding-top: 150px !important;
}

.ImpTP155 {
    padding-top: 155px !important;
}

.ImpTP160 {
    padding-top: 160px !important;
}

.ImpTP165 {
    padding-top: 165px !important;
}

.ImpTP167 {
    padding-top: 167px !important;
}

.ImpTP170 {
    padding-top: 170px !important;
}

.ImpTP174 {
    padding-top: 174px !important;
}

.ImpTP175 {
    padding-top: 175px !important;
}

.ImpTP180 {
    padding-top: 180px !important;
}

.ImpTP184 {
    padding-top: 184px !important;
}

.ImpTP190 {
    padding-top: 190px !important;
}

.ImpTP200 {
    padding-top: 200px !important;
}

.ImpTP205 {
    padding-top: 205px !important;
}

.ImpTP207 {
    padding-top: 207px !important;
}

.ImpTP210 {
    padding-top: 210px !important;
}

.ImpTP220 {
    padding-top: 220px !important;
}

.ImpTP225 {
    padding-top: 225px !important;
}

.ImpTP230 {
    padding-top: 230px !important;
}

.ImpTP250 {
    padding-top: 250px !important;
}

.ImpTP258 {
    padding-top: 258px !important;
}

.ImpTP260 {
    padding-top: 260px !important;
}

.ImpTP275 {
    padding-top: 275px !important;
}

.ImpTP277 {
    padding-top: 277px !important;
}

.ImpTP284 {
    padding-top: 284px !important;
}

.ImpTP290 {
    padding-top: 290px !important;
}

.ImpTP299 {
    padding-top: 299px !important;
}

.ImpTP300 {
    padding-top: 300px !important;
}

.ImpTP305 {
    padding-top: 305px !important;
}

.ImpTP310 {
    padding-top: 310px !important;
}

.ImpTP317 {
    padding-top: 317px !important;
}

.ImpTP320 {
    padding-top: 320px !important;
}

.ImpTP325 {
    padding-top: 325px !important;
}

.ImpTP330 {
    padding-top: 330px !important;
}

.ImpTP350 {
    padding-top: 350px !important;
}

.ImpTP355 {
    padding-top: 355px !important;
}

.ImpTP360 {
    padding-top: 360px !important;
}

.ImpTP370 {
    padding-top: 370px !important;
}

.ImpTP380 {
    padding-top: 380px !important;
}

.ImpTP400 {
    padding-top: 400px !important;
}

.ImpTP405 {
    padding-top: 405px !important;
}

.ImpTP410 {
    padding-top: 410px !important;
}

.ImpTP420 {
    padding-top: 420px !important;
}

.ImpTP500 {
    padding-top: 500px !important;
}

.ImpTP550 {
    padding-top: 550px !important;
}

.ImpTP590 {
    padding-top: 590px !important;
}

.ImpTP600 {
    padding-top: 600px !important;
}

.ImpTP620 {
    padding-top: 620px !important;
}

.ImpTP655 {
    padding-top: 655px !important;
}

.ImpTP675 {
    padding-top: 675px !important;
}

.ImpTP700 {
    padding-top: 700px !important;
}

.ImpTP756 {
    padding-top: 756px !important;
}

.ImpTP980 {
    padding-top: 980px !important;
}

.ImpTP988 {
    padding-top: 988px !important;
}

/************************** P-Bottom *****************************/
.ImpBP0 {
    padding-bottom: 0px !important;
}

.ImpBP1 {
    padding-bottom: 1px !important;
}

.ImpBP2 {
    padding-bottom: 2px !important;
}

.ImpBP3 {
    padding-bottom: 3px !important;
}

.ImpBP4 {
    padding-bottom: 4px !important;
}

.ImpBP5 {
    padding-bottom: 5px !important;
}

.ImpBP6 {
    padding-bottom: 6px !important;
}

.ImpBP7 {
    padding-bottom: 7px !important;
}

.ImpBP10 {
    padding-bottom: 10px !important;
}

.ImpBP13 {
    padding-bottom: 13px !important;
}

.ImpBP14 {
    padding-bottom: 14px !important;
}

.ImpBP15 {
    padding-bottom: 15px !important;
}

.ImpBP20 {
    padding-bottom: 20px !important;
}

.ImpBP25 {
    padding-bottom: 25px !important;
}

.ImpBP30 {
    padding-bottom: 30px !important;
}

.ImpBP35 {
    padding-bottom: 35px !important;
}

.ImpBP40 {
    padding-bottom: 40px !important;
}

.ImpBP45 {
    padding-bottom: 45px !important;
}

.ImpBP47 {
    padding-bottom: 47px !important;
}

.ImpBP48 {
    padding-bottom: 48px !important;
}

.ImpBP50 {
    padding-bottom: 50px !important;
}

.ImpBP51 {
    padding-bottom: 51px !important;
}

.ImpBP55 {
    padding-bottom: 55px !important;
}

.ImpBP58 {
    padding-bottom: 58px !important;
}

.ImpBP60 {
    padding-bottom: 60px !important;
}

.ImpBP61 {
    padding-bottom: 61px !important;
}

.ImpBP65 {
    padding-bottom: 65px !important;
}

.ImpBP68 {
    padding-bottom: 68px !important;
}

.ImpBP70 {
    padding-bottom: 70px !important;
}

.ImpBP75 {
    padding-bottom: 75px !important;
}

.ImpBP80 {
    padding-bottom: 80px !important;
}

.ImpBP82 {
    padding-bottom: 82px !important;
}

.ImpBP90 {
    padding-bottom: 90px !important;
}

.ImpBP100 {
    padding-bottom: 100px !important;
}

.ImpBP105 {
    padding-bottom: 105px !important;
}

.ImpBP110 {
    padding-bottom: 110px !important;
}

.ImpBP112 {
    padding-bottom: 110px !important;
}

.ImpBP115 {
    padding-bottom: 115px !important;
}

.ImpBP120 {
    padding-bottom: 120px !important;
}

.ImpBP122 {
    padding-bottom: 122px !important;
}

.ImpBP125 {
    padding-bottom: 125px !important;
}

.ImpBP128 {
    padding-bottom: 128px !important;
}

.ImpBP130 {
    padding-bottom: 130px !important;
}

.ImpBP133 {
    padding-bottom: 133px !important;
}

.ImpBP135 {
    padding-bottom: 135px !important;
}

.ImpBP140 {
    padding-bottom: 140px !important;
}

.ImpBP150 {
    padding-bottom: 150px !important;
}

.ImpBP155 {
    padding-bottom: 155px !important;
}

.ImpBP160 {
    padding-bottom: 160px !important;
}

.ImpBP165 {
    padding-bottom: 165px !important;
}

.ImpBP167 {
    padding-bottom: 167px !important;
}

.ImpBP170 {
    padding-bottom: 170px !important;
}

.ImpBP174 {
    padding-bottom: 174px !important;
}

.ImpBP175 {
    padding-bottom: 175px !important;
}

.ImpBP180 {
    padding-bottom: 180px !important;
}

.ImpBP184 {
    padding-bottom: 184px !important;
}

.ImpBP190 {
    padding-bottom: 190px !important;
}

.ImpBP200 {
    padding-bottom: 200px !important;
}

.ImpBP205 {
    padding-bottom: 205px !important;
}

.ImpBP207 {
    padding-bottom: 207px !important;
}

.ImpBP210 {
    padding-bottom: 210px !important;
}

.ImpBP220 {
    padding-bottom: 220px !important;
}

.ImpBP225 {
    padding-bottom: 225px !important;
}

.ImpBP230 {
    padding-bottom: 230px !important;
}

.ImpBP250 {
    padding-bottom: 250px !important;
}

.ImpBP258 {
    padding-bottom: 258px !important;
}

.ImpBP260 {
    padding-bottom: 260px !important;
}

.ImpBP275 {
    padding-bottom: 275px !important;
}

.ImpBP277 {
    padding-bottom: 277px !important;
}

.ImpBP284 {
    padding-bottom: 284px !important;
}

.ImpBP290 {
    padding-bottom: 290px !important;
}

.ImpBP299 {
    padding-bottom: 299px !important;
}

.ImpBP300 {
    padding-bottom: 300px !important;
}

.ImpBP305 {
    padding-bottom: 305px !important;
}

.ImpBP310 {
    padding-bottom: 310px !important;
}

.ImpBP317 {
    padding-bottom: 317px !important;
}

.ImpBP320 {
    padding-bottom: 320px !important;
}

.ImpBP325 {
    padding-bottom: 325px !important;
}

.ImpBP330 {
    padding-bottom: 330px !important;
}

.ImpBP350 {
    padding-bottom: 350px !important;
}

.ImpBP355 {
    padding-bottom: 355px !important;
}

.ImpBP360 {
    padding-bottom: 360px !important;
}

.ImpBP370 {
    padding-bottom: 370px !important;
}

.ImpBP380 {
    padding-bottom: 380px !important;
}

.ImpBP400 {
    padding-bottom: 400px !important;
}

.ImpBP405 {
    padding-bottom: 405px !important;
}

.ImpBP410 {
    padding-bottom: 410px !important;
}

.ImpBP420 {
    padding-bottom: 420px !important;
}

.ImpBP500 {
    padding-bottom: 500px !important;
}

.ImpBP550 {
    padding-bottom: 550px !important;
}

.ImpBP590 {
    padding-bottom: 590px !important;
}

.ImpBP600 {
    padding-bottom: 600px !important;
}

.ImpBP620 {
    padding-bottom: 620px !important;
}

.ImpBP655 {
    padding-bottom: 655px !important;
}

.ImpBP675 {
    padding-bottom: 675px !important;
}

.ImpBP700 {
    padding-bottom: 700px !important;
}

.ImpBP756 {
    padding-bottom: 756px !important;
}

.ImpBP980 {
    padding-bottom: 980px !important;
}

.ImpBP988 {
    padding-bottom: 988px !important;
}

.ImpTBP20 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.ImpTBP15 {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.ImpTBP10 {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.ImpP10 {
    padding: 10px;
}
/*********************** Padding  End ***************************/
.sitebanner {
    background-color: #111C34;
}

.sitefooter {
    background-color: #6B6D6F;
}




body, html {
    font-family: Arial !important;
    height: 100% !important;
    font-size: 10pt !important;
}




.BodyContent {
    Color: #333333;
    font-size: 10pt;
    font-weight: normal;
}




/*********************** Sticky and scrollable footer css***************************/

.bannerfont {
    font-size: 20px;
    font-weight: 400;
}

.foot {
    text-align: center;
    font-weight: normal;
    font-size: 8pt;
    color: #333333;
    height: 21px;
}

#footer {
    min-height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.wrap {
    padding-bottom: 75px !important;
}

.pageheadder {
    font-weight: bold;
    font-family: Arial;
    font-size: 14pt !important;
    color: #164966;
}

.subheaders {
    font-weight: bold;
    font-family: Arial;
    font-size: 12pt;
    color: #164966;
}



.paddingRL0 {
    padding-right: 0px;
    padding-left: 0px;
}

.top2 {
    top: 2px;
}

.h35 {
    height: 35px;
}

.SiteAnchor {
    font-family: Arial;
    font-size: 10pt !important;
    color: #164966;
}

    .SiteAnchor:hover {
        font-family: Arial;
        font-size: 10pt !important;
        color: #E44E39;
    }

.SiteAnchor-sm, .CartLinkcrl {
    font-weight: normal !important;
    font-family: Arial !important;
    font-size: 10pt !important;
    color: #164966 !important;
}

    .SiteAnchor-sm:hover, .CartLinkcrl:hover {
        font-weight: normal !important;
        font-family: Arial !important;
        font-size: 10pt !important;
        color: #E44E39 !important;
    }

.navdrpAnconr {
    font-weight: normal !important;
    font-family: Arial !important;
    font-size: 10pt !important;
    color: #000000 !important;
}

    .navdrpAnconr:hover {
        font-weight: normal !important;
        font-family: Arial !important;
        font-size: 10pt !important;
        color: #E44E39 !important;
    }



.BTrans {
    background-color: transparent !important;
}

.overH {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ImpBB0 {
    border-bottom: 0px;
}

.BodyBG {
    background-color: #f4f4f4 !important;
}

.ImpLP15 {
    padding-left: 15px !important;
}

.HomegrpBorder {
    border: 1px solid #ccc;
}


.fonsize12pt {
    font-size: 12px;
}

.fonsize13pt {
    font-size: 13px;
}

.MsgContent {
    font-family: "Arial Bold", "Arial";
    font-weight: 700;
    text-decoration: none;
}

.MsgContent1 {
    font-family: "Arial";
    font-weight: 400;
    text-decoration: none;
}

.MsgContent2 {
    color: #164966;
    font-family: "Arial";
    font-weight: 400;
    text-decoration: underline;
}

.colorB {
    color: black !important;
}

.colorO {
    color: #e44e39 !important;
}

.PopHeader {
    color: #444444;
    font-weight: 700;
    font-family: 'Calibri';
    font-size: 16px;
}

.QVPfont {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Calibri';
}


.PTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ImpML0 {
    margin-left: 0px !important;
}

.WIPMsg {
    color: #FE860D;
    font-size: 30px;
    font-weight: 700;
    font-family: Cambria;
}

.Loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1100;
    opacity: 0.7;
    background-color: black;
}

.LoadingImage {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.loading {
    text-align: center;
    vertical-align: middle;
}

.sitebannerlogo {
    height: 80px;
}


@media (min-width: 767px) {
    .QVPMW50 {
        min-width: 50%;
    }

    .QVPMHT500 {
        min-height: 500px;
        width: 100%;
    }

    .LogNavHeight {
        min-height: 165px !important;
    }
}

@media screen and (min-width: 1025px) {
    .vr {
        border-left: 1px solid #164966;
    }
}

@media screen and (min-width: 767px) {
    .bannertext {
        line-height: 1.0;
    }

    .bannerPmargin {
        margin-top: 23px;
        margin-bottom: 23px;
    }

    .bannerTagline {
        font-size: 13px !important;
    }

    .NavdropMennu:hover > ul.dropdown-menu {
        display: block;
    }

    .SiteP {
        margin-left: 35px;
        margin-right: 35px;
    }

    .MenuP {
        margin-left: 20px;
        margin-right: 20px;
    }

    .ContentP {
        margin-left: 35px;
        margin-right: 35px;
    }

    .bannerCenter {
        padding-right: 0px !important;
    }
}

@media (max-width: 767px) {
    .bannertext {
        text-align: center;
    }

    .bannerCenter {
        text-align: center;
    }

    .vr {
        border-top: 1px solid #164966;
    }
}


@media (max-width: 1024px) {
    .vr {
        border-top: 1px solid #164966;
    }
}

.Label100 {
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    font-weight: normal;
}

*--------------Grid Styles--------------------*/ .webGriddes {
    border-collapse: collapse;
    width: 100%;
    background-color: #FCFCFC;
}

.webGriddes th, .webGriddes td {
    border: 1px solid #D7D7D7;
    padding: 5px;
    text-align: center;
}

.webGriddes th {
    background-color: #164966;
    font-weight: bold;
    color: #fff;
}

    .webGriddes th a {
        color: white;
        font-weight: bold;
    }

.header {
    background-color: #164966;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Arial Regular', 'Arial';
}

.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 98%;
    background-color: #FCFCFC;
}

    .webGrid th, .webGrid td {
        /*border: 1px solid #C0C0C0;*/
        padding: 5px;
        text-align: left;
    }

        .webGrid th a {
            color: black;
            font-weight: bold;
        }

.alt {
    background-color: #F2F2F2;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
}

.description {
    width: auto;
}

.select {
    background-color: #389DF5;
}

.GridPendingApp {
    background-color: #F2F2F2;
}

.girdAnchorstyle {
    color: #0275D8;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.girdAnchorstyle {
    color: #0275D8;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

    .girdAnchorstyle:hover {
        color: #0275D8;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
    }

hr {
    border-color: #ccc !important;
}

.Font8Pt {
    color: #444444;
}

.Font15 {
    font-size: 15px !important;
}

.FL {
    float: left;
}

.FR {
    float: right;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }



.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

    .dropdown-submenu:hover > ul.dropdown-menu {
        display: block !important;
    }


.SubMenuarrow {
    padding-top: 5px;
    position: absolute;
    right: 5px;
    vertical-align: middle !important;
}

.Font8Pt {
    font-size: 8pt !important;
}

.Font9Pt {
    font-size: 8pt !important;
}

.ItemNotAvail {
    font-size: 8.7pt !important;
}

.font12pxImp {
    font-size: 12px !important;
}

.defaultTxt {
    font-weight: bold;
}

.isKitLabel {
    vertical-align: middle;
    margin-bottom: 0px;
}

.TAResizeNone {
    resize: none;
}
